@model List<SneakerShop.SessionModels.CartItem>

<div class="container">
    <h2>Giỏ hàng của bạn</h2>

    @if (!Model.Any())
    {
        <p class="alert alert-warning" style="margin-top: 50px">Giỏ hàng đang trống.</p>
        return;
    }

    <table class="table table-bordered" style="margin-top: 50px">
        <thead>
            <tr>
                <th>Ảnh</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Image" width="60" />
                    </td>

                    <td>@item.Name</td>

                    <td>@item.UnitPrice.ToString("N0") ₫</td>

                    <td>
                        <input type="number" min="1" value="@item.Quantity"
                            onchange="updateQuantity(@item.ShoeId, this.value)" class="form-control form-control-sm"
                            style="width: 70px;">
                    </td>

                    <td>@item.Total.ToString("N0") ₫</td>

                    <td>
                        <a href="/Cart/Remove/@item.ShoeId" class="btn btn-danger btn-sm">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/Home/Index" class="btn btn-outline-info ">Trở về trang chủ</a>
    <form method="get" action="/Cart/Checkout">
        <button class="btn btn-success btn-lg mt-3">Thanh toán tất cả</button>
    </form>
</div>